<a href="https://colab.research.google.com/github/mariesweeney900/GPACalculatorMMProgramming/blob/main/GPACalculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [55]:
#https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92#:~:text=Click%20on%20%E2%80%9CChoose%20Files%E2%80%9D%20then,name%20of%20the%20uploaded%20file).

from google.colab import files
uploaded = files.upload()

Saving CTASample.csv to CTASample (3).csv

In [56]:
#https://towardsdatascience.com/3-ways-to-load-csv-files-into-colab-7c14fcbdcb92#:~:text=Click%20on%20%E2%80%9CChoose%20Files%E2%80%9D%20then,name%20of%20the%20uploaded%20file).
import io
df = pd.read_csv(io.BytesIO(uploaded['CTASample.csv']))

In [57]:
#https://towardsdatascience.com/converting-data-to-a-numeric-type-in-pandas-db9415caab0b
df = pd.read_csv(
    'CTASample.csv', 
    dtype={
        'string_col': 'float16',
        'int_col': 'float16'
    }
)

In [78]:
import csv

with open('CTASample.csv','r') as file_csv:
    read = list(csv.reader(file_csv))
    for i, row in enumerate(read):
        if i > 0:
            row[1] = float(row[1])
        print(row)

['\ufeffStudent Name', 'Intro to Programming', 'Databases', 'Computer Architecture', 'Ethics in Computer Science', 'Advanced Programming', 'Puzzles and Problem Solving']
['James Jameson', 80.0, '70', '55', '12', '50', '80']
['Peter Parker', 50.0, '55', '50', '50', '50', '50']
['Mary Janeson', 40.0, '40', '40', '23', '40', '45']
['Felicia Hardiman', 70.0, '67', '78', '70', '56', '80']
['Lori Grimes', 50.0, '30', '35', '30', '30', '30']
['Anthony Stones', 90.0, '90', '65', '78', '90', '80']

In [79]:
df = pd.read_csv(
    'CTASample.csv', 
    dtype={
        'string_col': 'float16',
        'int_col': 'float16'
    }
)

In [83]:
#https://python-forum.io/thread-9721.html

sample = open('CTASample.csv','r')
for line in sample:
   info = line.split(',')
   print (type(info[4]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [106]:
#https://www.geeksforgeeks.org/how-to-convert-strings-to-floats-in-pandas-dataframe/
#https://datatofish.com/convert-string-to-float-dataframe/
#https://stackoverflow.com/questions/36716503/how-to-create-a-grading-system-in-python

# importing pandas library
import pandas as pd
import numpy as np
  
# dictionary
Data = { 'Student Name':['James Jameson','Peter Parker', 'Mary Janeson','Felicia Hardiman', 'Lori Grimes','Anthony Stones'],
         'Intro to Programming': ['80', '50', 
                 '40', '70', '50', '90'],
        'Databases': ['70', '55', 
                           '40', '67', '30', '90'],
        'Computer Architecture': ['55', '50', 
                 '40', '78', '35', '65'],
        'Ethics in Computer Science': ['12', '50', 
                 '23', '70', '30', '78'],
        'Advanced Programming': ['50', '50', 
                 '40', '56', '30', '90'],
        'Puzzles and Problem Solving': ['80', '50', 
                 '45', '80', '30', '80']}

# create a dataframe
df = pd.DataFrame(Data)
  
# converting each value 
# of column to a string
df['Intro to Programming'] = df['Intro to Programming'].astype(float)






  
# show the dataframe
print(df)


  
# show the datatypes
print (df.dtypes)

       Student Name  ...  Puzzles and Problem Solving
0     James Jameson  ...                           80
1      Peter Parker  ...                           50
2      Mary Janeson  ...                           45
3  Felicia Hardiman  ...                           80
4       Lori Grimes  ...                           30
5    Anthony Stones  ...                           80

[6 rows x 7 columns]
Student Name                    object
Intro to Programming           float64
Databases                       object
Computer Architecture           object
Ethics in Computer Science      object
Advanced Programming            object
Puzzles and Problem Solving     object
dtype: object

In [107]:
import pandas as pd
import numpy as np

#Create a DataFrame

d = {                                                # Creating a dict for dataframe
    'StudentName':['James Jameson', 'Peter Parker','Mary Janeson', 'Felicia Hardiman', 'Lori Grimes','Anthony Stones'],    
    'IntroProgrammeScore':[80,50,40,70,50,90],
     'DatabasesScore':[70,55,40,67,30,90],
     'ComputerArchitectureScore':[55,50,40,78,35,65],
     'EthicsinComputerScienceScore':[12,50,23,70,30,78],
     'AdvancedProgrammingScore':[50,50,40,56,30,90],
     'PuzzleandProblemSolvingScore':[80,50,45,80,30,80]
    }
 
df = pd.DataFrame(d)   # converting dict to dataframe
                       # Keys get converted to column names and values to column values

#get grade by adding a column to the dataframe and apply np.where(), similar to a nested if


df['Grade'] = np.where((df.Score < 60 ), 
                  'F', np.where((df.Score >= 60) & (df.Score <= 69), 
                  'D', np.where((df.Score >= 70) & (df.Score <= 79), 
                  'C', np.where((df.Score >= 80) & (df.Score <= 89), 
                  'B', np.where((df.Score >= 90) & (df.Score <= 100), 
                  'A', 'No Marks')))))
print(df)

AttributeError: ignored

In [120]:
import pandas as pd
import numpy as np

#Create a DataFrame

d = {                                                # Creating a dict for dataframe
    'StudentName':['James Jameson', 'Peter Parker','Mary Janeson', 'Felicia Hardiman', 'Lori Grimes','Anthony Stones'],    
    'Score':[80,50,40,70,50,90]
    }
 
df = pd.DataFrame(d)   

# converting dict to dataframe
                       # Keys get converted to column names and values to column values

#get grade by adding a column to the dataframe and apply np.where(), similar to a nested if


df['Grade'] = np.where((df.Score < 60 ), 
                  'F', np.where((df.Score >= 60) & (df.Score <= 69), 
                  'D', np.where((df.Score >= 70) & (df.Score <= 79), 
                  'C', np.where((df.Score >= 80) & (df.Score <= 89), 
                  'B', np.where((df.Score >= 90) & (df.Score <= 100), 
                  'A', 'No Marks')))))
print(df)

        StudentName  Score Grade
0     James Jameson     80     B
1      Peter Parker     50     F
2      Mary Janeson     40     F
3  Felicia Hardiman     70     C
4       Lori Grimes     50     F
5    Anthony Stones     90     A

In [ ]:
70,55,40,67,30,90,55,50,40,78,35,65,12,50,23,70,30,78, 50,50,40,56,30,90,80,50,45,80,30,80],'Subject':['Intro to Programming']'Databases', 'Computer Architecture', 'Ethics in Computer Science', 'Advanced Programming', 'Puzzles and Problem Solving'

In [ ]:
#https://www.sanfoundry.com/python-program-take-marks-5-subjects-display-grade/ 

# Calculates student GPA based on points given for each letter grade. All the courses are weighted the same. 

def gpa_calculator(grades):
    points = 0
    i = 0   
    if grades != []:
    
        for i in range(len(grades)):
            if grades[i] == 'A+':
                points += 4.2
            elif grades[i] == 'A':
                points += 4.0
            elif grades[i] =='A-':
                points += 3.8
            elif grades[i] == 'B+':
                points += 3.2
            elif grades[i] == 'B':
                points += 3.0
            elif grades[i] == 'B-':
                points += 2.8
            elif grades[i] =='C+':
                points += 2.2
            elif grades[i] == 'C':
                points += 2.0
            elif grades[i] == 'C-':
                points += 1.8
            elif grades[i] == 'D+':
                points += 1.2
            elif grades[i] == 'D':
                points += 1.0
            elif grades[i] == 'F':
                points += 0.0
            else:
                return None  

        gpa = points / len(grades)
        return gpa
    else:
        return None 


grades = [ 'A', 'A', 'A', 'A']
print(gpa_calculator(grades))

grades = ['A', 'B', 'C', 'F', 'A', 'B+']
print(gpa_calculator(grades))

4.0
2.6999999999999997

In [122]:
#https://www.sanfoundry.com/python-program-take-marks-5-subjects-display-grade/
#User can enter marks and module in live mode to calculate GPA

prog1=int(input("Enter marks for Intro To Programming: "))
prog2=int(input("Enter marks for Databases: "))
prog3=int(input("Enter marks for Computer Architecture: "))
prog4=int(input("Enter marks for Ethics Computer Science: "))
prog5=int(input("Enter marks for Advanced Programming: "))
prog6=int(input("Enter marks for Puzzles and Problem Solving: "))
avg=(sub1+sub2+sub3+sub4+sub5+sub6)/6
if(avg>=90):
    print("Grade: A")
elif(avg>=80&avg<90):
    print("Grade: B")
elif(avg>=70&avg<80):
    print("Grade: C")
elif(avg>=60&avg<70):
    print("Grade: D")
else:
    print("Grade: F")

Enter marks for Intro To Programming: 60
Enter marks for Databases: 67
Enter marks for Computer Architecture: 78
Enter marks for Ethics Computer Science: 76
Enter marks for Advanced Programming: 56
Enter marks for Puzzles and Problem Solving: 46

NameError: ignored

In [ ]:
pd.to_numeric(df['mixed_col'], errors='coerce')